body {
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 5em;
	font-family:"Feast of Flesh BB";
	text-align: center;
	color: #000;
	background-color: #F00;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	width: 100% ;
}

.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	zed-index: 3000;
	
	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.75em 1em;
	position: absolute;
	top: -10em;
	
	background-color: #000;
	
	color: #FFF;	
	text-decoration: none;
}

.skiplinks a:focus {
	top: 0;
}

a,
a:link,
a:visited; {
	outline: none;
}

a:hover,
a:active {
	outline: none;
}

a:focus {
	outline: 3px solid #000;
}

@media only screen and (max-width: 35em) {
	
img.displayed {
    display: none;
	}
}

.box {
background-color: #FFF;
padding: 20px;
margin: 4% 10% 4% 10%;
moz-box-shadow: 0 0 5px #ACACAC;
webkit-box-shadow: 0 0 5px #ACACAC;
box-shadow: 0 0 5px #ACACAC;
}

* {
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

label {
	display: block;
	cursor: pointer;
}

input + label {
	display: inline;
}

input {
	font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

.input-text {
	font-size: 1rem;
	border: 1px solid #ccc;
	padding: 0.5em;
	background-image: linear-gradient(to bottom, #efefef, #fff);
	border-radius: 2px;
	width:100%;
}

textarea {
	max-width:100%;
	height: 7em;
}

button {
	margin: 50px 5px 5px 5px;
	font-size: 1rem;
	padding: 0.5em;
	border-radius: 8px;
	color: #F00;
	cursor: pointer;
}

.error {

	color: #f33;
	display: block;
}

.input-error {
	 border: 3px solid #f33;
}

@media only screen and (max-width: 47em) {
	
	body {
		font-size: 0.8em;
	}
	
	.box {
	background-color: #FFF;
	padding: 5px;
	margin: 4% 5% 4% 5%;
	moz-box-shadow: 0 0 5px #ACACAC;
	webkit-box-shadow: 0 0 5px #ACACAC;
	box-shadow: 0 0 5px #ACACAC;
	}
	
	
	* {
	padding: 2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
	textarea {
	max-width:100%;
	height: 4em;
	}


	.input-text {
	font-size: 0.8rem;
	border: 1px solid #ccc;
	padding: 0.5em;
	background-image: linear-gradient(to bottom, #efefef, #fff);
	border-radius: 2px;
	width:100%;
	}
}